body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #d9d9d9;
}

.container {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

a {
    text-decoration: none;  
}

/* Barra lateral */
.sidebar {
    background-color: #fafafa;
    padding: 20px 10px;
    width: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  
    height: 100vh;
}

.sidebar-icon {
    width: 60px;
    height: 80px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.sidebar-iconLogo {
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.logo-wrapper {
    width: 70px;
    height: 70px;
    background-color: #d6eaff; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-bottom,.sidebar-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* Estilos para los mensajes flash */
.flash-messages {
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

.flash {
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
}

.flash.success {
    background-color: #4CAF50;
    color: white;
}

.flash.error {
    background-color: #f44336;
    color: white;
}


.sidebar-iconSalir {
    width: 70px;
    height: 75px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.sidebar-icon:hover, .sidebar-iconLogo:hover, .sidebar-iconSalir:hover  {
    transform: scale(1.1);
}

.logout {
    margin-top: auto;
}


/* Main content */
.main {
    flex-grow: 1;
    padding: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1 {
    font-size: 50px;
    color: #1565c0;
}

h3 {
    color: #1565c0;
    font-size: 20px;
}

.btn-agregar {
    background-color: #2ecc71;
    color: white;
    border: none;
    padding: 20px 50px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 25px;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.2);
    cursor: pointer;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 400px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.btn-confirm, .btn-cancel {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-confirm {
    background-color: #dc3545; 
    color: white;
}

.btn-cancel {
    background-color: #6c757d; 
    color: white;
}

.btn-confirm:hover, .btn-cancel:hover{
    transform: scale(1.1);
}


/* Tabla */
table {
    width: 100%;
    background-color: #eaf2f8;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

th, td {
    padding: 12px;
    text-align: center;
    color: #1565c0;
    border-bottom: 1px solid #ccc;
}

/* Botones de acción */
.btn-editar {
    background-color: #1f80e0;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 20px;
    margin-right: 6px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.btn-explorar {
    background-color: #f1c40f;
    color: black;
    border: none;
    padding: 6px 12px;
    border-radius: 20px;
    margin-right: 6px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.btn-citas {
    background-color: #1f80e0;
    color: rgb(255, 255, 255);
    border: none;
    padding: 6px 12px;
    border-radius: 20px;
    margin-right: 6px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.btn-eliminar {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.btn-agregar:hover {
    background-color: #0c8526;
    transform: scale(1.1);
}

.btn-eliminar:hover {
    background-color: #ad2626;
    transform: scale(1.1);
}

.btn-editar:hover , .btn-citas:hover{
    background-color: #53c0eb;
    transform: scale(1.1);
}

.btn-buscar:hover {
    background-color: #aaadab;
    transform: scale(1.1);
}

.btn-explorar:hover {
    background-color: #e6fa2e;
    transform: scale(1.1);
}