
    <a href="{{ url_for('detalle_reporte_especifico', tipo='caducidad') }}" class="menu-card">
        <i class="fas fa-calendar-times card-icon" style="background: linear-gradient(135deg, #e74c3c, #c0392b); -webkit-background-clip: text;"></i>
        <h2 class="card-title">Caducidades</h2>
        <p class="card-description">Productos vencidos o próximos a caducar en los siguientes 30 días.</p>
        <i class="fas fa-calendar-times card-bg-icon"></i>
    </a> 
        <a href="{{ url_for('detalle_reporte_especifico', tipo='caducidad') }}" class="menu-card">
        <i class="fas fa-calendar-times card-icon" style="background: linear-gradient(135deg, #e74c3c, #c0392b); -webkit-background-clip: text;"></i>
        <h2 class="card-title">Caducidades</h2>
        <p class="card-description">Productos vencidos o próximos a caducar en los siguientes 30 días.</p>
        <i class="fas fa-calendar-times card-bg-icon"></i>
    </a>