body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: #eaf2f8;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    text-align: center;
    width: 320px;
}


.titulo {
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    text-align: left;
    font-weight: bold;
}

input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #d3d3d3;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

button {
    background-color: #1f80e0;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #104c85;
    transform: scale(1.1);
}

.logo-container {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.logo {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

